body {
    font-family: Arial;
    background: #eef2f7;
    text-align: center;
}

#chat-box {
    width: 65%;
    height: 320px;
    background: white;
    margin: 20px auto;
    padding: 10px;
    overflow-y: auto;
    border-radius: 8px;
}
